<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971263030513-8l9ibelfd3q3p4dl6fviaqo4khrnkfnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971263030513-8l9ibelfd3q3p4dl6fviaqo4khrnkfnu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>971263030513-6l457aami6dcgdjiuf397bho5hp8ns1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWNyg-KBK5UrNEF_t0HMCUybHTjFYk6Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>971263030513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barkbridge.app</string>
	<key>PROJECT_ID</key>
	<string>barkbridgeai-a76e5</string>
	<key>STORAGE_BUCKET</key>
	<string>barkbridgeai-a76e5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971263030513:ios:014ffa9c9a7bee780ea550</string>
</dict>
</plist>